<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        {{searchValue}}
        — перевод на Английский с примерами в тексте, произношение
    </title>
    <meta name="description"
        content="Как сказать {{searchValue}} на английском. Как произнести {{searchValue}} и как написать по-английски? Примеры предложений и правильное произношение слушать онлайн.">
    {% include './components/common/favicon.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <script src="/js/utils.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="bg-indigo-50">
    <header class="flex pt-4 justify-center">
        {% include 'h-logo-search.twig' %}
    </header>
    <main class="flex md:justify-center pt-10">
        <div class="flex flex-col xl:w-8/12">
            <div class="w-auto space-y-4">
                <h1 class="text-2xl px-6">
                    <span class="font-bold">"{{ searchValue }}"</span> перевод на английский
                </h1>
                <div class="w-full">
                    <div class="bg-white px-6 py-2 rounded">
                        <p class="flex items-center">
                            <span>Слово
                                <span class="font-bold">"{{ searchValue }}"</span>
                                на английский язык переводится как <span
                                    class="font-bold">"{{searchentext}}"</span></span>
                            {# <span class="recordingsAndTranscriptions">
                                <span class="en-US hasRecording" title="Озвучить">
                                    <span class="audioIcon icon-sound dontprint soundOnClick" tabindex="-1" id="elca"
                                        data-sound="{{searchentext}}"></span>
                                </span>
                            </span> #}
                        </p>
                    </div>
                    {# {{rutooltip}} #}
                </div>
            </div>
            <div class="gap-4 gap-y-8 pt-4">
                <section class="flex flex-col">
                    <div class="flex flex-col mb-8 lg:flex-row">
                        <div class="flex flex-col bg-white p-6 rounded w-full lg:mr-8">
                            <h2 class="text-xl">Примеры c синонимами</h2>
                            <ol class="list-decimal pl-5 m-0">
                                {% for entry in textEntries %}
                                <li class="pt-6">
                                    <div>
                                        <span class="flex flex-col-2 gap-x-2 items-center">
                                            {% if entry.exists %}
                                            <a href="/{{ entry.entext }}-na-russkom-perevod-primery"
                                                class="text-blue-600 dark:text-blue-500 hover:underline focus:outline-none  focus-visible:ring-2 focus-visible:ring-blue-500 focus:ring-offset-2 rounded"
                                                aria-label="Перевод слова {{ entry.entext }} на русский">{{ entry.entext
                                                }}</a>
                                            {% else %}
                                            <h3 class="text-lg">{{ entry.entext|e }}</h3>
                                            {% endif %}
                                            {# <span class="cursor-pointer" title="Озвучить текст" tabindex="-1"
                                                id="elca" data-sound="{{ entry.entext|replace({' ': '-'})|e }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.13 24.64"
                                                    height="20" width="20">
                                                    <path
                                                        d="M20.578-.012c-1.017-.054-1.59 1.355-.822 2.026 2.904 2.858 5.274 6.735 4.999 10.95-.208 3.847-2.513 7.194-5.148 9.843-.656.876.372 2.19 1.38 1.764 1.082-.67 1.805-1.82 2.63-2.772 2.666-3.39 4.193-7.89 3.234-12.188-.77-3.648-2.948-6.867-5.606-9.417a1.181 1.181 0 0 0-.667-.206Zm-1.021 5.6c-1.019-.054-1.59 1.358-.82 2.027 2.354 2.243 2.614 6.247.563 8.772-.552.543-1.289 1.363-.694 2.153.51.775 1.684.566 2.117-.18 2.897-3.09 3.089-8.25.44-11.554-.44-.49-.855-1.231-1.606-1.218ZM15.465.28c-.833.12-1.388.862-2.08 1.285L5.459 7.48c-1.504.016-3.012-.03-4.514.024C.122 7.641-.092 8.538 0 9.247c.016 2.402-.031 4.808.024 7.208.136.824 1.034 1.037 1.742.945h3.691c3.184 2.36 6.333 4.77 9.538 7.097.875.455 1.876-.44 1.685-1.36-.004-7.265.008-14.53-.006-21.794a1.185 1.185 0 0 0-1.21-1.062ZM14.32 3.812v17.262c-2.659-1.967-5.285-3.985-7.965-5.92-.871-.238-1.806-.06-2.705-.115-.404-.05-1.01.1-1.29-.073V9.84c1.278-.032 2.569.066 3.838-.053 1.027-.578 1.914-1.393 2.884-2.067l5.238-3.907Z" />
                                                </svg>
                                            </span> #}
                                        </span>
                                        <span>{{ entry.rutooltip|e }}</span>
                                    </div>
                                    <ul class="pt-4 pb-4 list-disc pl-4 space-y-4">
                                        {% for example in entry.examples %}
                                        <li class="">
                                            <span class="">
                                                <span>
                                                    {{example.dst[0]}}
                                                    <span class="italic bg-amber-100">{{example.dst[1]}}</span>
                                                    {{example.dst[2]}}
                                                </span>
                                                </br>
                                                <span class="text-slate-500">
                                                    {{example.src[0]}}
                                                    <span class="italic bg-amber-100">{{example.src[1]}}</span>
                                                    {{example.src[2]}}
                                                </span>
                                            </span>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endfor %}
                            </ol>
                            {# Это ссылка на отдельную страницу где можно было бы показывать остальные примеры слов #}
                            {# <span class="w-auto pt-6">
                                <a href="/{{ searchValue }}-drugiye-primery-na-anglijskom"
                                    class="text-blue-600 dark:text-blue-500 hover:underline focus:outline-none  focus-visible:ring-2 focus-visible:ring-blue-500 focus:ring-offset-2 rounded">Больше
                                    примеров для слова "{{
                                    searchValue }}"</a>
                            </span> #}
                        </div>
                        <div class="flex flex-col lg:flex-col lg:mt-0 sm:mt-6 sm:flex-row sm:gap-6 sm:columns-2xs">
                            <div class="flex w-full flex-col bg-indigo-200 p-6 rounded">
                                <h2 class="text-xl">Другие синонимы</h2>
                                <div class="pt-4">
                                    <ol class="list-decimal pl-5">
                                        {% for entry in dictionaryEntries %}
                                        <li>
                                            <div class="flex flex-col-2 space-x-2">
                                                <span>
                                                    <a href="/{{ entry.url }}-na-anglijskom-perevod-primery"
                                                        class="text-blue-600 dark:text-blue-500 hover:underline focus:outline-none  focus-visible:ring-2 focus-visible:ring-blue-500 focus:ring-offset-2 rounded">{{
                                                        entry.text|e }}</a>
                                                </span>
                                                <span>=</span>
                                                <span>
                                                    <a href="/{{ entry.entext }}-na-russkom-perevod-primery"
                                                        class="text-blue-600 dark:text-blue-500 hover:underline focus:outline-none  focus-visible:ring-2 focus-visible:ring-blue-500 focus:ring-offset-2 rounded">{{
                                                        entry.entext|e }}</a>
                                                    </a>
                                                </span>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ol>
                                </div>
                                {# Это ссылка на отдельную страницу где можно было бы показывать остальные примеры слов
                                #}
                                {# <span class="pt-6">
                                    <a href="/{{ searchValue }}-drugiye-primery-na-anglijskom"
                                        class="text-blue-600 dark:text-blue-500 hover:underline focus:outline-none  focus-visible:ring-2 focus-visible:ring-blue-500 focus:ring-offset-2 rounded">Другие
                                        синонимы слова "{{ searchValue }}"</a>
                                </span> #}
                            </div>
                            <div class="flex w-full flex-col bg-green-200 p-6 rounded">
                                <h2 class="text-xl">Родственные слова</h2>
                                <div class="pt-4">
                                    <ol class="list-decimal pl-5">
                                        {% for entry in derivEntries %}
                                        <li>
                                            <div class="flex flex-col-2 space-x-2">
                                                <span class="">
                                                    <a href="/{{ entry.url }}-na-anglijskom-perevod-primery"
                                                        class="text-blue-600 dark:text-blue-500 hover:underline focus:outline-none  focus-visible:ring-2 focus-visible:ring-blue-500 focus:ring-offset-2 rounded">{{
                                                        entry.text|e }}</a>
                                                </span>
                                                <span>=</span>
                                                <span class="">
                                                    <a href="/{{ entry.entext }}-na-russkom-perevod-primery"
                                                        class="text-blue-600 dark:text-blue-500 hover:underline focus:outline-none  focus-visible:ring-2 focus-visible:ring-blue-500 focus:ring-offset-2 rounded">{{
                                                        entry.entext|e }}</a>
                                                </span>
                                                {# <span class="cursor-pointer" title="Озвучить текст" tabindex="-1"
                                                    id="elca" data-sound="{{ entry.entext|replace({' ': '-'})|e }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.13 24.64"
                                                        height="20" width="20">
                                                        <path
                                                            d="M20.578-.012c-1.017-.054-1.59 1.355-.822 2.026 2.904 2.858 5.274 6.735 4.999 10.95-.208 3.847-2.513 7.194-5.148 9.843-.656.876.372 2.19 1.38 1.764 1.082-.67 1.805-1.82 2.63-2.772 2.666-3.39 4.193-7.89 3.234-12.188-.77-3.648-2.948-6.867-5.606-9.417a1.181 1.181 0 0 0-.667-.206Zm-1.021 5.6c-1.019-.054-1.59 1.358-.82 2.027 2.354 2.243 2.614 6.247.563 8.772-.552.543-1.289 1.363-.694 2.153.51.775 1.684.566 2.117-.18 2.897-3.09 3.089-8.25.44-11.554-.44-.49-.855-1.231-1.606-1.218ZM15.465.28c-.833.12-1.388.862-2.08 1.285L5.459 7.48c-1.504.016-3.012-.03-4.514.024C.122 7.641-.092 8.538 0 9.247c.016 2.402-.031 4.808.024 7.208.136.824 1.034 1.037 1.742.945h3.691c3.184 2.36 6.333 4.77 9.538 7.097.875.455 1.876-.44 1.685-1.36-.004-7.265.008-14.53-.006-21.794a1.185 1.185 0 0 0-1.21-1.062ZM14.32 3.812v17.262c-2.659-1.967-5.285-3.985-7.965-5.92-.871-.238-1.806-.06-2.705-.115-.404-.05-1.01.1-1.29-.073V9.84c1.278-.032 2.569.066 3.838-.053 1.027-.578 1.914-1.393 2.884-2.067l5.238-3.907Z" />
                                                    </svg>
                                                </span> #}
                                                {# <span class="recordingsAndTranscriptions">
                                                    <span class="en-US hasRecording" title="Озвучить">
                                                        <span class="audioIcon icon-sound dontprint soundOnClick"
                                                            tabindex="-1" id="elca"
                                                            data-sound="{{searchentext}}"></span>
                                                    </span>
                                                </span> #}
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ol>
                                </div>
                                {# Это ссылка на отдельную страницу где можно было бы показывать остальные примеры слов
                                #}
                                {# <span class="pt-6">
                                    <a href="/{{ searchValue }}-drugiye-primery-na-anglijskom"
                                        class="text-blue-600 dark:text-blue-500 hover:underline focus:outline-none  focus-visible:ring-2 focus-visible:ring-blue-500 focus:ring-offset-2 rounded">Больше
                                        примеров родственных слов для слова "{{ searchValue }}"</a>
                                </span> #}
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col bg-white p-6 rounded">
                        <h2 class="text-xl pb-4">Похожие словосочетания</h2>
                        <ol class="list-decimal pl-5">
                            {% for entry in enexEntries %}
                            <li class="pt-6">
                                <div class="flex flex-col space-x-2">
                                    <div class="flex flex-col-3 gap-1">
                                        <span>{{ entry.textout|e }}</span>
                                        <span>-</span>
                                        {# <span class="recordingsAndTranscriptions">
                                            <span class="en-GB hasRecording" title="Озвучить текст">
                                                <span class="audioIcon icon-sound dontprint soundOnClick" tabindex="-1"
                                                    id="elca" data-sound="{{entry.textout|e}}"></span>
                                            </span>
                                        </span> #}
                                        <span>{{ entry.textin|e }}</span>
                                    </div>
                                    <ul class="pt-4 pb-4 list-disc pl-4 space-y-4">
                                        {% if entry.examples|length != 0 %}
                                        {% for example in entry.examples %}
                                        <li>
                                            <span>
                                                {{example.dst[0]}}
                                                <span class="italic bg-amber-100">{{example.dst[1]}}</span>
                                                {{example.dst[2]}}
                                            </span>
                                            </br>
                                            <span class="text-slate-500">
                                                {{example.src[0]}}
                                                <span class="italic bg-amber-100">{{example.src[1]}}</span>
                                                {{example.src[2]}}
                                            </span>
                                            {# <div class="exampleSentence">
                                                {{ example.dst|replace({'<': '<span class="blue">' })|raw }}<br>
                                                    <span class="exampleSentenceTranslation">{{
                                                        example.src|replace({'<': '<span class="blue">' })|raw }}</span>
                                            </div> #}
                                        </li>
                                        {% endfor %}
                                        {% else %}
                                        <li>Нет примеров</li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                </section>
            </div>
        </div>
    </main>
    {% include './components/common/metrica-counter.twig' %}
</body>

</html>