{% extends "item_layout.twig" %}

{% block seohead %}
	<title>
		{{searchValue}}
		— перевод на Английский с примерами в тексте, произношение
	</title>
	<meta name="description" content="Как сказать {{searchValue}} на английском. Как произнести {{searchValue}} и как написать по-английски? Примеры предложений и правильное произношение слушать онлайн.">
{% endblock %}

{% block page_h1 %}
	<span class="font-bold">"{{ searchValue }}"</span>
	перевод на английский
{% endblock %}

{% block search_word_details %}
	<span>Слово
		<span class="font-bold">"{{ searchValue }}"</span>
		на английский язык переводится как
		<span class="font-bold">"{{searchentext}}"</span>
	</span>
{% endblock %}
